.alignment-clear-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.style-liste {
    display: inline-block;
}

.style-element {
    list-style: none;
}